body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #1db954;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

a:hover {
    background-color: #1ed760;
}