h1 {
    font-family: monospace;
}

body {
    font-family: monospace;
}

li {
    font-family: monospace;
}

.track {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 100px;
    background-color: cornflowerblue;
    color: azure;
  }
  
  .track h2 {
    margin-top: 0px;
    background-color: brown;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }